*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.section-hero {
    width: 1280px;
    height: 100vh;
    /* 100% de la hauteur de l'écran */
    background-image: url(assets/Banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.flex{
    display:flex;
    flex-wrap: wrap;
}

.align-items {
    align-items: center;
}

.justify-content {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.w-20{
    width: 20%;
}

.w-30{
    width: 30%;
}

.w-48{
    width: 48%;
}

.w-50{
    width: 50%;
}

.w-100{
    width: 100%;
}


.container-1200{
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.container-1000{
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

a{
    text-decoration: none;
    color: black;
}

.black{
    color:black;
}

.font-size{
    font-size: 22px;
}