@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.section-hero {
    width: 1280px;
    height: 100vh;
    /* 100% de la hauteur de l'écran */
    background-image: url(assets/Banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.flex{
    display:flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.column {
    flex-direction: column;
}

.center {
    text-align: center;
}

.align-items {
    align-items: center;
}

.justify-content {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

h1 {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-size: 85px;
}

h2 {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-size: 50px;
}

h3 {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-size: 25px;
}

p {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 22px;
}

.w-20{
    width: 20%;
}

.w-30{
    width: 30%;
}

.w-48{
    width: 48%;
}

.w-50{
    width: 50%;
}

.w-100{
    width: 100%;
}

.bg-beige{
    background-color: #F4F0EC;
}

.bg-noir-clair{
    background-color: #292F36;
}

.bg-blanc{
    background-color: white;
}

.bg-black{
    background-color: black;
}

.container-1200{
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.container-1000{
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.padding-10{
    padding: 10px;
}

.padding-20{
    padding: 20px;
}

.margin-left-20{
    margin-left: 20px;
}

.margin-left-50{
    margin-left: 50px;
}

.margin-top-20{
    margin-top: 20px;
}

a{
    text-decoration: none;
    font-family: "Jost", sans-serif;
}

.beige {
    color: #F4F0EC;
}

.btn {
    background-color: #292F36;
    padding: 9px 18px;
    border-radius: 10px;
    display: inline-block;
}

.black{
    color:black;
}

.white{
    color: white;
}

.font-size{
    font-size: 22px;
}

.font-size-70{
    font-size: 50px;
}

.border-radius-20 {
    border-radius: 20px;
}